.lockedquiz {
    position: relative;
    margin-bottom: 50px;
      /* margin-left: 20px; */
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      align-items: center;
      /* margin-bottom: 15px; */
      flex-direction: column;
      width: 50vw;
      border-top: 15px solid #e6d2ba;
      display: flex;
      background-color: #273740;
      color: #cdd1d8;
      padding: 25px;
      padding-top: 5px;
}

.lockedquiz:after {
  content: "";
  display: block;
  position: absolute; /* could also be absolute */ 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(117, 109, 109, 0.534);
}
.overlay{
    position: absolute;
    margin: 25% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    z-index: 11;
    color: white;
    background-color: rgba(0, 0, 0, 0.931); /*dim the background*/
}

