/* Add your styles here */

.whitetext {
  color: white;
  text-shadow: 5px 5px 5px maroon;
}

.gamebackground {
    background-image: url('../img/learn-english.jpg');
    background-position: center;
    background-repeat: repeat;
    margin: 0px;
    padding-bottom: 120px;
    
}
    
   
    .hero img{
      max-width:100%; 
      height:auto;
    }
    
    .hero {
    
      width:auto; 
      text-align:center;
        
    }
    .panel {
      margin-top: 50px;
      /* margin-left: 20px; */
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      align-items: center;
      /* margin-bottom: 15px; */
      flex-direction: column;
      width: 50vw;
      border-top: 15px solid #e6d2ba;
      display: flex;
      background-color: #273740;
      color: #cdd1d8;
      padding: 25px;
      padding-top: 5px;
    
    }

    .infoItem {
      margin-top: 20px;
      font-size: 25px;
      color: #182850;

    }

    .infoPanel {
      /* margin-left: 20px; */
      font-weight: bold;
      margin: 50px;
      margin-top: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      align-items: center;
      flex-direction: column;
      width: 50vw;
      border-top: 15px solid #0134a8;
      display: flex;
      background-color: #9ebace85; 
      color: #07101f;
      padding-right: 20px;
      padding-top: 0px;

  }

  .infoText {
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 900px) {
    .panel {
      width: 80vw;
    }
    .infoPanel{
      width: 80vw;
    }
  }
  