/* Add your styles here */

.whitetext {
  color: rgb(64, 51, 110);
  margin-top: 60px;
  margin-bottom: 60px;
  /* text-shadow: 5px 5px 5px maroon; */
}

.gamebackground {
  
    background: linear-gradient(135deg, #e1e1e1 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, #e1e1e1 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, #e1e1e1 25%, transparent 25%),
      linear-gradient(45deg, #e1e1e1 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #cfd8dc;
  
    }
    
   
    .hero img{
      max-width:100%; 
      height:auto;
      margin: -4px;
    }
    
    .hero {
    
      width:auto; 
      text-align:center;
        
    }
    .panel {
      margin-bottom: 50px;
      /* margin-left: 20px; */
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      align-items: center;
      /* margin-bottom: 15px; */
      flex-direction: column;
      width: 50vw;
      border-top: 15px solid #e6d2ba;
      display: flex;
      background-color: #273740;
      color: #cdd1d8;
      padding: 25px;
      padding-top: 5px;
    
    }

    .infoItem {
      margin-top: 20px;
      font-size: 25px;
      color: #182850;

    }

    .infoPanel {
      /* margin-left: 20px; */
      font-weight: bold;
      margin: 50px;
      margin-top: 50px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      box-shadow: 10px 10px 8px 10px #888888;
      align-items: center;
      flex-direction: column;
      width: 50vw;
      border-top: 15px solid #c3cbb3;
      display: flex;
      /* background-color: #9ebace85;  */
      background-color:  rgb(225 225 225); 

      color: #07101f;
      /* padding-right: 20px; */
      padding-top: 30px;
      padding-bottom: 30px;


  }

  .infoText {
    margin-bottom: 5px;
  }

  .slideshow {
    height:500px;
    width: 80vw;
  }

  @media only screen and (max-width: 900px) {
    .panel {
      width: 80vw;
    }
    .infoPanel{
      width: 80vw;
    }
    .slideshow{
      height:300px;
      width: 90vw;
    }
  }
  @media only screen and (max-width: 500px) {
    .slideshow{
      height:180px;
      width: 80vw;
    }
  }
  